@font-face {
  font-family: Guminert;
  src: url(fonts/Guminert\ Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Guminert;
  src: url(fonts/Guminert\ Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Guminert;
  src: url(fonts/Guminert\ Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Guminert;
  src: url(fonts/Guminert\ Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Guminert;
  src: url(fonts/Guminert\ Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Guminert;
  src: url(fonts/Guminert\ Bold.ttf);
  font-weight: 800;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Guminert;
}

@layer components {
  .max-container {
    max-width: 1330px;
    margin: 0 auto;
  }

  /* .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  } */
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply  py-[200px];
  }

  .padding-l {
    @apply  pl-8;
  }

  .padding-r {
    @apply  pr-8;
  }

  .padding-t {
    @apply  pt-[200px];
  }

  .padding-b {
    @apply  pb-[200px];
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.swiper-horizontal {
  overflow-x: clip!important;
  overflow-x: clip!important;
}

.swiper-pagination-bullets {
  bottom: var(--swiper-pagination-bottom, -42px)!important;
}